<section class="content">
    <div class="social">
        <ul>
            <li><img src="assets/img/Follow us.png" alt="Follow us"></li>
            <li> <a href="https://www.instagram.com/" target="_blank"> <img src="assets/img/Vector.png"
                        alt="Instagram"></a>
            </li>
            <li><a href="https://twitter.com/?lang=es" target="_blank"><img src="assets/img/twitter.png"
                        alt="Twitter"></a>
            </li>
        </ul>
    </div>

    <div class="mensaje">
        <ul>
            <li><img src="assets/img/Group 17.png" alt="A Hiking Guide"></li>
            <li><img src="assets/img/Be prepared for the Mountains and beyond!.png" alt="Beprepared"></li>
            <li><img src="assets/img/Group 7.png" alt="scroll down"> </li>
        </ul>
    </div>

    <div class="secciones">
        <ul>
            <li>Start</li>
            <li><a href="#uno">01</a></li>
            <li><a href="#dos">02</a></li>
            <li><a href="#tres">03</a></li>
        </ul>
    </div>
</section>