.logo {
    margin-left: 45px;
    margin-top: 30px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 35px;
    color: white;
    text-decoration: none;
}

nav ul li a {
    display: inline-block;
    margin-right: 15px;
    color: white;
    text-decoration: none;
}

.cuenta {
    display: flex;
    flex-direction: row;
    margin-top: 33px;
    margin-right: 65px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 2;
}

