<footer>
    <div class="copyright">
        <ul>

            <li><a href="./index.html"><img src="assets/img/Logo.png" alt="Logo"></a></li>
            <li>Get out there & discover your next</li>
            <li>slope,mountain & destination!</li>
        </ul>
        <img class="privacy" src="assets/img/Copyright 2019 MNTN, Inc. Terms & Privacy.png" alt="Copyright">
    </div>

    <div class="Moreontheblog">
        <ul>
            <li><img src="assets/img/More on The Blog.png" alt="Moreon the blog"></li>
            <li>About MNTN</li>
            <li>Contributors & Writers</li>
            <li>Write For Us</li>
            <li>Contact Us</li>
            <li>Privacy Policy</li>
        </ul>
    </div>

    <div class="MoreonMNTN">
        <ul>
            <li><img src="assets/img/More on MNTN.png" alt="More on MNTN"></li>
            <li>The Team</li>
            <li>Jobs</li>
            <li>Press</li>
            <li> <a href="https://www.instagram.com/" target="_blank"> <img src="assets/img/Vector.png"
                        alt="Instagram"></a>
            </li>
            <li><a href="https://twitter.com/?lang=es" target="_blank"><img src="assets/img/twitter.png"
                        alt="Twitter"></a>
            </li>
        </ul>
    </div>
    
</footer>