.paginaaboutus {
    margin-top: 1250px;
}

h1 {
    background-color: #071116;
    color: white;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    width: 100%;

}

article {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}