<section class="paginaaboutus">
    <article>
        <div>
            <h1>Nuestra Historia</h1>
            <p>Autor: Luz Aponte</p>
        </div>
        <section>
            <h2>Cuando Iniciamos</h2>
            <p>En el año 1971 inición en Bogotá nuestra empressa con 2 socios.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, totam aperiam. Obcaecati officia
                impedit hic. Odio similique error deserunt nobis laborum hic facere corrupti exercitationem nam,
                odit voluptatem numquam placeat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, totam aperiam. Obcaecati officia
                impedit hic. Odio similique error deserunt nobis laborum hic facere corrupti exercitationem nam,
                odit voluptatem numquam placeat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, totam aperiam. Obcaecati officia
                impedit hic. Odio similique error deserunt nobis laborum hic facere corrupti exercitationem nam,
                odit voluptatem numquam placeat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, totam aperiam. Obcaecati officia
                impedit hic. Odio similique error deserunt nobis laborum hic facere corrupti exercitationem nam,
                odit voluptatem numquam placeat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, totam aperiam. Obcaecati officia
                impedit hic. Odio similique error deserunt nobis laborum hic facere corrupti exercitationem nam,
                odit voluptatem numquam placeat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, totam aperiam. Obcaecati officia
                impedit hic. Odio similique error deserunt nobis laborum hic facere corrupti exercitationem nam,
                odit voluptatem numquam placeat.
            </p>
        </section>
        <section>
            <h2>Así Fuimos creciendo</h2>
            <p>Con el pasar de los años hemos ido creciendo y ahora tenemos más de 10 sedes en el mundo. Siendo la
                base de origen Colombia. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam illum
                nesciunt laudantium, dolorem numquam, possimus, ipsum ducimus dolore laborum odit deserunt ab neque
                rem voluptatum ullam in hic pariatur repudiandae!. Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Eius quo provident nulla inventore fugiat expedita ea doloribus explicabo dolore
                hic obcaecati perferendis facilis voluptatum maxime repellendus ipsum, eos ab quasi!</p>
        </section>
        <section>
            <h2>Nuestro Objetivo</h2>
            <p>Con el pasar de los años hemos ido creciendo y ahora tenemos más de 10 sedes en el mundo. Siendo la
                base de origen Colombia. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam illum
                nesciunt laudantium, dolorem numquam, possimus, ipsum ducimus dolore laborum odit deserunt ab neque
                rem voluptatum ullam in hic pariatur repudiandae!. Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Eius quo provident nulla inventore fugiat expedita ea doloribus explicabo dolore
                hic obcaecati perferendis facilis voluptatum maxime repellendus ipsum, eos ab quasi!</p>
        </section>

        <div>
            <p>Fecha de publicación: 10 de octubre de 2023</p>
        </div>
    </article>
</section>

