.fondo {
    position: relative;
    margin-top: -100px;
    z-index: 0;
}

.cielo {
    position: relative;
    margin-top: -100px;
    width: 100%;
}

.sombra {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
}