<section class="paginatablavalores">
    <h1>
        SOMOS EL MEJOR EQUIPO
    </h1>

    <div class="paginaequipo">
        <img src="./assets/img/equipo.png" alt="Equipo" class="iequipo">

    </div>

    <section class="valores">

        <h1>NUESTROS VALORES</h1>

        <table>

            <thead>

                <tr>
                    <th>VALOR</th>
                    <th>DESCRIPCION</th>

                </tr>
            </thead>
            <tbody>


                <tr>
                    <td>INTEGRIDAD</td>
                    <td>Personas honestas y respetuosas</td>
                </tr>
                <tr>
                    <td>RESPETO</td>
                    <td>Nos preocupamos por el impacto de nuestras acciones en los demás</td>
                </tr>
                <tr>
                    <td>CREATIVIDAD</td>
                    <td>Utilizamos la imaginación para buscar maneras de crear ideas o cosas y solucionar problemas</td>
                </tr>
                <tr>
                    <td>EFICIENCIA</td>
                    <td>Gente capaz de usar lo mejor posible los recursos para conseguir sus objetivos</td>
                </tr>
                <tr>
                    <td>TRABAJO EN EQUIPO</td>
                    <td>El trabajo en equipo facilita el cumplimiento de objetivos, incrementa la motivación y la
                        creatividad</td>
                </tr>
            </tbody>
        </table>
    </section>
</section>