h1 {
    background-color: #071116;
    color: white;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    width: 100%;

}

.centrado {
    text-align: center;
    /* Centra horizontalmente */
    display: flex;
    justify-content: center;
    /* Centra horizontalmente en flexbox */
    align-items: center;
    /* Centra verticalmente en flexbox */

}

.recordarContraseñas {
    color: #f5f5f5;
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 22px;
    font-family: 'Croissant One', cursive;
    font-family: 'Mulish', sans-serif;
    font-family: 'Young Serif', serif;
    margin-bottom: 15px;
}

form {
    position: relative;
    top: 100px;
    left: 35%;
    width: 30%;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 50px;
}

form>img {
    width: 80%;
    padding-bottom: 30px;
}

form>input {
    font-size: 22px;
    width: 100%;
    margin-bottom: 5px;
    padding: 15px;
    /*border-radius: 15px; */
    border-color: cornflowerblue;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    font-size: 22px;
    font-family: 'Croissant One', cursive;
    font-family: 'Mulish', sans-serif;
    font-family: 'Young Serif', serif;
}

form>input:focus {
    outline: none;
}

form>button {
    margin-top: 10px;
    background-color: rgb(247, 230, 218);
    color: gray;
    padding: 20px;
    width: 80%;
    border-radius: 15px;
    font-family: 'Mulish', sans-serif;
    font-family: 'Young Serif', serif;
    border-color: rgb(252, 252, 254);
    box-shadow: 5px 5px 5px rgb(219, 240, 240);
}

form>button:hover {
    color: white;
    width: 85%;
    background-color: rgb(118, 158, 205);
}

.recordarContraseñas {
    color: #f5f5f5;
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 22px;
    font-family: 'Croissant One', cursive;
    font-family: 'Mulish', sans-serif;
    font-family: 'Young Serif', serif;
    margin-bottom: 15px;
}

textarea {
    /* margin: 0;  Puedes ajustar esto según tus necesidades */
    max-width: 80%;
    max-height: 300px;
    min-width: 80%;
    min-height: 100px;
    margin-bottom: 40px;
}

#select {
    margin-top: 10px;
}

.centrado {
    text-align: center;
    /* Centra horizontalmente */
    display: flex;
    justify-content: center;
    /* Centra horizontalmente en flexbox */
    align-items: center;
    /* Centra verticalmente en flexbox */

}

.error-input {
    border: 3px solid red;
    display: block;
}


.color-error {
    color: white;
}

.vacio {
    width: 100%;
    height: 30px;
    background-color: #071116;
}

.mensajeerror {
    color: #f5f5f5;
}